@import url("https://fonts.googleapis.com/css?family=Google+Sans");
:root {
    --bs-font-sans-serif:
        "Google Sans", system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}
body {
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    background-color: #ebeff7;
}
#type {
    width: fit-content;
}
#groupBy {
    width: fit-content;
}
.line-class-clicks-last-7-days {
    stroke-dasharray: 3 4;
    stroke-width: 3px;
}
.line-class-impressions-last-7-days {
    stroke-dasharray: 3 4;
    stroke-width: 3px;
}
.line-class-ctr-last-7-days {
    stroke-dasharray: 3 4;
    stroke-width: 3px;
}
