@import url("https://fonts.googleapis.com/css?family=Google+Sans");
:root {
    --bs-font-sans-serif:
        "Google Sans", system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}
body {
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    background-color: #ebeff7;
}
#type {
    width: fit-content;
}
#groupBy {
    width: fit-content;
}
.line-class-clicks-last-7-days {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 4 4;
    stroke-width: 3;
}
.line-class-impressions-last-7-days {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 4 4;
    stroke-width: 3;
}
.line-class-ctr-last-7-days {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 4 4;
    stroke-width: 3;
}
.line-class-incomplete-clicks {
    stroke-dasharray: 2 4;
    stroke-width: 2;
}
.line-class-incomplete-impressions {
    stroke-dasharray: 2 4;
    stroke-width: 2;
}
.line-class-incomplete-ctr {
    stroke-dasharray: 2 4;
    stroke-width: 2;
}
.bb-tooltip .value {
    float: right;
}
.incomplete td {
    color: #696969;
}
.textnowrap {
    text-wrap-mode: nowrap;
}
#property {
    width: fit-content;
}
.fixed-table-toolbar {
    padding-left: 1rem;
    padding-right: 0.5rem;
}
.action-icon {
    font-family: "bootstrap-icons"; /* required */
    font-size: 1em; /* match link text size */
    line-height: 1; /* tighten box */
    vertical-align: -0.125em; /* nudge down to baseline */
    margin-left: 0.25rem;
    opacity: 0; /* hidden by default */
    transition: opacity 0.2s ease;
}
.action-link:hover .action-icon {
    opacity: 1;
}
.clipboard-icon::before {
    content: "\f759"; /* copy */
}
.btn-transparent {
    --bs-btn-color: #000;
    /* --bs-btn-bg: #f8f9fa; */
    /* --bs-btn-border-color: #f8f9fa; */
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #d3d4d5;
    --bs-btn-hover-border-color: #c6c7c8;
    --bs-btn-focus-shadow-rgb: 211, 212, 213;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #c6c7c8;
    --bs-btn-active-border-color: #babbbc;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f8f9fa;
    --bs-btn-disabled-border-color: #f8f9fa;
}

#action-badge {
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* optional */
}

#action-badge.visible {
    opacity: 1;
}
